<div class="sentence text-center">
  <h2>
    {{sentence.value}}
  </h2>
</div>

<div class="" style="height: 100px;">

</div>

<div button-container class="col-md-12 text-center">
  <div class="col-md-3">

  </div>
  <div class="col-md-3">
    <button class="btn btn-default" {{action 'highlight'}}>Highlight</button>
  </div>
  <div class="col-md-3">
    {{#power-select
      options=availableColors
      selected=(find-by 'name' selectedColorName availableColors)
      onchange=(action 'onColorChange')
      tagName=''
      as |color|
    }}
      <strong>{{color.name}}</strong>
    {{/power-select}}
  </div>
  <div class="col-md-3">

  </div>
</div>
